# Citibike Data Processing (Small)

In [1]:
#Import dependencies
import pandas as pd

## 1. Import the raw data files

In [3]:
#Import the data files
june_twentyOne = "raw_data/202106-citibike-tripdata.csv"
june_twentyOne_df = pd.read_csv(june_twentyOne,low_memory=False)
june_twentyOne_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,6339C86D47EC0FAB,docked_bike,2021-06-02 17:18:45,2021-06-02 17:26:17,W 51 St & 6 Ave,6740.10,E 66 St & Madison Ave,6969.08,40.760659,-73.980420,40.768009,-73.968453,member
1,CDE3C147775B4002,docked_bike,2021-06-04 21:01:46,2021-06-04 21:32:09,W 56 St & 10 Ave,6955.01,E 9 St & Avenue C,5616.01,40.768254,-73.988639,40.725213,-73.977688,member
2,D335C3F6B412B846,docked_bike,2021-06-15 16:39:36,2021-06-15 16:55:02,E 56 St & Madison Ave,6732.01,E 16 St & 5 Ave,6022.04,40.761573,-73.972628,40.737262,-73.992390,member
3,8DA6810777C89735,docked_bike,2021-06-08 11:36:40,2021-06-08 11:39:41,E 68 St & 3 Ave,6896.16,1 Ave & E 62 St,6753.08,40.767128,-73.962246,40.761227,-73.960940,member
4,62D9B66A3A1D9FDF,docked_bike,2021-06-18 12:48:43,2021-06-18 13:04:14,E 48 St & 5 Ave,6626.01,W 20 St & 8 Ave,6224.05,40.757245,-73.978059,40.743453,-74.000040,member

In [27]:
may_twentyOne = "raw_data/202105-citibike-tripdata.csv"
may_twentyOne_df = pd.read_csv(may_twentyOne,low_memory=False)
may_twentyOne_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,E12103A91226099A,docked_bike,2021-05-06 17:25:01,2021-05-06 17:45:25,Broadway & W 60 St,6948.11,1 Ave & E 78 St,7020.09,40.769155,-73.981918,40.771404,-73.953517,member
1,26A3DC47FE0EA3A3,docked_bike,2021-05-13 12:48:08,2021-05-13 13:07:37,Broadway & W 25 St,6173.08,E 2 St & Avenue B,5515.02,40.742868,-73.989186,40.722174,-73.983688,member
2,A99F2E1D627B088F,docked_bike,2021-05-16 08:30:13,2021-05-16 08:45:47,46 Ave & 5 St,6286.02,34th Ave & Vernon Blvd,6873.01,40.747310,-73.954510,40.765354,-73.939863,member
3,43E79A45997B7390,docked_bike,2021-05-01 08:38:14,2021-05-01 08:54:27,46 Ave & 5 St,6286.02,34th Ave & Vernon Blvd,6873.01,40.747310,-73.954510,40.765354,-73.939863,member
4,8B3CC649F4F58816,docked_bike,2021-05-09 08:12:31,2021-05-09 08:27:05,46 Ave & 5 St,6286.02,34th Ave & Vernon Blvd,6873.01,40.747310,-73.954510,40.765354,-73.939863,member

In [5]:
april_twentyOne = "raw_data/202104-citibike-tripdata.csv"
april_twentyOne_df = pd.read_csv(april_twentyOne,low_memory=False)
april_twentyOne_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,7099F9531C9DA16D,docked_bike,2021-04-28 17:27:24,2021-04-28 17:34:31,DeKalb Ave & Hudson Ave,4513.06,Douglass St & 4 Ave,4175.14,40.689888,-73.981013,40.679279,-73.981540,member
1,EDC6F1B1A69A7863,docked_bike,2021-04-27 17:28:02,2021-04-27 17:33:07,E 47 St & Park Ave,6584.12,W 52 St & 6 Ave,6740.01,40.755102,-73.974986,40.761330,-73.979820,member
2,431A76830E10408A,docked_bike,2021-04-28 18:05:19,2021-04-28 18:10:48,E 47 St & Park Ave,6584.12,W 52 St & 6 Ave,6740.01,40.755102,-73.974986,40.761330,-73.979820,member
3,C00248A0ADC009FA,docked_bike,2021-04-20 21:35:47,2021-04-20 21:56:31,Irving Ave & DeKalb Ave,4898.02,Division Ave & Hooper St,5045.05,40.702700,-73.920950,40.706842,-73.954435,casual
4,BE78810D746EE516,docked_bike,2021-04-30 00:34:54,2021-04-30 01:03:29,3 Ave & E 112 St,7543.15,E 115 St & Lexington Ave,7599.09,40.795508,-73.941606,40.797911,-73.942300,casual

## 2. Cleaning the Data

In [12]:
# Check data for missing data and drop any rows with missing values.
#june_twentyOne_df.dtypes
#june_twentyOne_df.count()
#june_twentyOne_clean_df=june_twentyOne_df.dropna(how="any")
#june_twentyOne_clean_df.count()
june_twentyOne_clean_df.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id      float64
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [59]:
# Checked each column to make sure values made sense.
june_twentyOne_clean_df["rideable_type"].value_counts()

docked_bike     2051348
classic_bike    1115844
Name: rideable_type, dtype: int64

In [28]:
# Checking dtypes and noting that start_station_id is not float as per June data
may_twentyOne_df.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [31]:
# Doing a count and removing any NaN values as a first step
#may_twentyOne_df.count()
may_twentyOne_clean_df=may_twentyOne_df.dropna(how="any")
may_twentyOne_clean_df.count()

ride_id               2718594
rideable_type         2718594
started_at            2718594
ended_at              2718594
start_station_name    2718594
start_station_id      2718594
end_station_name      2718594
end_station_id        2718594
start_lat             2718594
start_lng             2718594
end_lat               2718594
end_lng               2718594
member_casual         2718594
dtype: int64

In [34]:
# Changing start_station_id to numeric as per June 2021 data
may_twentyOne_clean_df["start_station_id"]=pd.to_numeric(may_twentyOne_clean_df["start_station_id"])
may_twentyOne_clean_df.dtypes

<ipython-input-34-5104cba8da07>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  may_twentyOne_clean_df["start_station_id"]=pd.to_numeric(may_twentyOne_clean_df["start_station_id"])

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id      float64
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [38]:
# Checked each column to make sure values made sense.
may_twentyOne_clean_df["member_casual"].value_counts()

member    1910911
casual     807683
Name: member_casual, dtype: int64

In [40]:
# Checking dtypes and noting that start_station_id is not float as per June data
april_twentyOne_df.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [42]:
# Doing a count and removing any NaN values as a first step
#april_twentyOne_df.count()
april_twentyOne_clean_df=april_twentyOne_df.dropna(how="any")
april_twentyOne_clean_df.count()

ride_id               2064277
rideable_type         2064277
started_at            2064277
ended_at              2064277
start_station_name    2064277
start_station_id      2064277
end_station_name      2064277
end_station_id        2064277
start_lat             2064277
start_lng             2064277
end_lat               2064277
end_lng               2064277
member_casual         2064277
dtype: int64

In [47]:
# Find indexes with text in "start_station_id"
indexValues = april_twentyOne_clean_df[april_twentyOne_clean_df["start_station_id"] == "Lab - NYC"].index
indexValues

Int64Index([592213, 592276, 592277, 592278, 592692, 592693], dtype='int64')

In [48]:
# Drop the indexes where "start_station_id" == "Lab - NYC"
april_twentyOne_clean_df.drop(index=indexValues,axis=0,inplace=True)

C:\Users\ivana\Anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [50]:
april_twentyOne_clean_df.count()

ride_id               2064271
rideable_type         2064271
started_at            2064271
ended_at              2064271
start_station_name    2064271
start_station_id      2064271
end_station_name      2064271
end_station_id        2064271
start_lat             2064271
start_lng             2064271
end_lat               2064271
end_lng               2064271
member_casual         2064271
dtype: int64

In [51]:
# Changing start_station_id to numeric as per June 2021 data
april_twentyOne_clean_df["start_station_id"]=pd.to_numeric(april_twentyOne_clean_df["start_station_id"])
april_twentyOne_clean_df.dtypes

<ipython-input-51-e9ca38746e02>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  april_twentyOne_clean_df["start_station_id"]=pd.to_numeric(april_twentyOne_clean_df["start_station_id"])

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id      float64
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

## 3. Combined Dataframes and Export to CSV

In [53]:
# Combine the dataframes into a single dataframe
frames = [april_twentyOne_clean_df,may_twentyOne_clean_df,june_twentyOne_clean_df]
final_small_df = pd.concat(frames,axis=0,join="outer",ignore_index=True)
final_small_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,7099F9531C9DA16D,docked_bike,2021-04-28 17:27:24,2021-04-28 17:34:31,DeKalb Ave & Hudson Ave,4513.06,Douglass St & 4 Ave,4175.14,40.689888,-73.981013,40.679279,-73.981540,member
1,EDC6F1B1A69A7863,docked_bike,2021-04-27 17:28:02,2021-04-27 17:33:07,E 47 St & Park Ave,6584.12,W 52 St & 6 Ave,6740.01,40.755102,-73.974986,40.761330,-73.979820,member
2,431A76830E10408A,docked_bike,2021-04-28 18:05:19,2021-04-28 18:10:48,E 47 St & Park Ave,6584.12,W 52 St & 6 Ave,6740.01,40.755102,-73.974986,40.761330,-73.979820,member
3,C00248A0ADC009FA,docked_bike,2021-04-20 21:35:47,2021-04-20 21:56:31,Irving Ave & DeKalb Ave,4898.02,Division Ave & Hooper St,5045.05,40.702700,-73.920950,40.706842,-73.954435,casual
4,BE78810D746EE516,docked_bike,2021-04-30 00:34:54,2021-04-30 01:03:29,3 Ave & E 112 St,7543.15,E 115 St & Lexington Ave,7599.09,40.795508,-73.941606,40.797911,-73.942300,casual

In [54]:
# Check that the concatenation successful - expect total of 7,950,057 rows with the three dataframes combined.
final_small_df.count()

ride_id               7950057
rideable_type         7950057
started_at            7950057
ended_at              7950057
start_station_name    7950057
start_station_id      7950057
end_station_name      7950057
end_station_id        7950057
start_lat             7950057
start_lng             7950057
end_lat               7950057
end_lng               7950057
member_casual         7950057
dtype: int64

In [56]:
# Export to csv file
final_small_df.to_csv("clean_data/small_cleaned.csv",index=False,header=True)

In [58]:
final_small_df.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id      float64
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object